@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Regal Wine Company - Off Premise Inventory </h1>
    <p class="lead">This is the Account Sales Executive site inventory tracker.</p>
    <p><a href="http://www.regalwineco.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Account Sales Executive</h2>
        <p>
            Our vineyards and wineries are first and foremost family-owned and operated. When Jess Jackson entered the wine business three decades ago, his goal was to create a family enterprise specializing in handmade wines of unmatched character.
        </p>
        <p><a class="btn btn-default" href="~/SiteCalls/Create">Account Sales Tracker &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administration Portal</h2>
        <p>In addition to handcrafting fine wines from some of the world’s most acclaimed regions, our family’s other passions include a commitment to sustainability, giving back to our communities, and thoroughbred horses.</p>
        <p><a class="btn btn-default" href="~/Management/Index">Administrative Area &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reporting</h2>
        <p>Whether our focus on responsible farming and vineyard management, engaging in philanthropy that has a positive impact where we live and do business, or world-class horse breeding and training, we believe that love and hard work can accomplish great things.</p>
        <p><a class="btn btn-default" href="~/ReportsManager/Index">View Reports &raquo;</a></p>
    </div>
</div>